# Dependencies
node_modules/

# VitePress
docs/.vitepress/cache/
docs/.vitepress/dist/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/.terraform.lock.hcl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
*.env

# Logs
*.log
npm-debug.log*

# Terraform under source, most likely for tutorial purposes
source/**/.terraform/
source/**/*.tfstate
source/**/*.tfstate.*
source/**/*.tfplan
source/**/.terraform.lock.hcl
